<nav><%= link_to 'Home', items_url %> ></nav>
<header>
  <%= render 'form', item: @item %>
</header>
<content>
  <ul>
    <%= render @items_hash[@item.id] %>
  </ul>
  <%= render 'form', item: @new_item %>
</content>
<aside>
  <%= button_to 'Delete', item_url(@item), method: :delete %>
</aside>