<nav>
  <a href="/items">Home ></a>
  <%= breadcrumbs(@item).html_safe %>
</nav>
<header>
  <%= render 'form', item: @item %>
</header>
<article>
  <ul class="list">
    <%= render nested_children(@item) %>
  </ul>
</article>
<% if @item.can_edit?(current_user) %>
  <aside>
    <h2>Add Item</h2>
    <%= render 'form', item: @new_item %>
    <%= button_to 'Delete', item_url(@item), method: :delete %>
    <%= link_to 'Share', item_shares_url(@item) %>
  </aside>
<% end %>