<!DOCTYPE html>
<html>
<head>
  <title>Workflowy Clone</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<section class='header-nav'>
  <nav class="clear-group">
    <h1><%= link_to 'Workflowy Clone', root_url %></h1>
    <ul>
      <li class="user-dropdown"><div></div>
        <ul>
          <% if signed_in? %>
            <li><%= button_to 'Sign Out', session_url, method: :delete %></li>
            <li class="user-email"><%= current_user.email %></li>
          <% else %>
            <li><%= render 'sessions/form' %></li>
            <li><%= link_to 'Sign Up', new_user_url %></li>
          <% end %>
        </ul>
      </li>
    </ul>
  </nav>
</section>

  <main>
    <%= yield %>
  </main>

</body>
</html>
