<!DOCTYPE html>
<html>
<head>
  <title>Workflowy</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <nav>
    <ul>
      <% if signed_in? %>
        <li><%= current_user.email %></li>
        <li><%= button_to 'Sign Out', session_url, method: :delete %></li>
      <% else %>
        <li><%= link_to 'Sign In', new_session_url %></li>
        <li><%= link_to 'Sign Up', new_user_url %></li>
      <% end %>

<%= yield %>

</body>
</html>
