<!DOCTYPE html>
<html>
<head>
  <title>Workflowy Clone</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

<section class='header-nav'>
  <nav class="clear-group">
    <h1><%= link_to 'Workflowy Clone', root_url %></h1>
    <ul>
      <% if signed_in? %>
        <!-- <li class="dos"></li> -->
        <li class="saved"></li>
        <li class="user-dropdown"><div></div>
          <ul>
            <li><%= button_to 'Sign Out', session_url, method: :delete %></li>
            <li class="user-email"><%= current_user.email %></li>
          </ul>
        </li>
      <% else %>
          <li><%= render 'sessions/form' %></li>
      <% end %>
    </ul>
  </nav>
</section>

<p><%= flash.alert %></p>

  <main>
    <%= yield %>
  </main>

</body>
</html>
